<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    <header class ="header">
        <h1>Dashboard</h1>
        <div>
            <p>Welcome, Admin {{ admin.name }}</p> <a class="area" href="{{ url_for('routes.home') }}"><img src="../static/card.png" width="30px"  height="30px">View Adds</a> |
            <a href="{{ url_for('routes.logout') }}">Logout</a>
        </div>
        
    </header>

</body>
</html>